@highlightColor: #18bc9c;
@strongColor: #00a686;

.box-shadow(@style, @color) when (iscolor(@color)) {
    -webkit-box-shadow: @style @color;
    box-shadow: @style @color;
}
.box-shadow(@style, @alpha: 50%) when (isnumber(@alpha)) {
    .box-shadow(@style, rgba(0, 0, 0, @alpha));
}
.user-select() {
    -webkit-user-select: none;
    -moz-user-select: none;
}

.display-box() {
    display: box;
    display: -moz-box;
    display: -webkit-box;
}

.box-flex() {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}

html {
    font-size: 10px;
    font-family: "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
    background-color: #fff;
    color: #333;
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body, ul, li {
    margin: 0;
    padding: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    color: @highlightColor;
    text-decoration: none;
}
.clearfix:after {
    display: block;
    overflow: hidden;
    content: "";
    height: 0;
    clear: both;
}
.clearfix {
    zoom: 1;
}
body {
    margin-top: 80px;
    line-height: 1.5;
}

/*****首页*****/
#index {
    .tag-item {
        display: none;
    }
    .blog-item {
        margin: 10px 0;
        border-bottom: 1px dashed #ddd;
        padding-bottom: 20px;
        &:first-child {
            margin-top: 20px;
        }
        &:hover {
            border-color: @highlightColor;
        }
        h1 {
            margin: 0;
            font-size: 1.8rem;
        }
        p {
            margin-bottom: 6px;
        }
        .date {
            font-size: 1.6rem;
        }
        .time_ago {
            font-family: "Microsoft YaHei";
            color: #aaa;
            font-size: 1.4rem;
            margin-left: 6px;
        }
    }
    .time-line {
        float: left;
        width: 50px;
        height: 50px;
        line-height: 50px;
        border-radius: 50%;
        margin-right: 20px;
        border: 1px solid @highlightColor;
        color: @highlightColor;
        text-align: center;
        display: none;
    }
    .blog-tags {
        margin-top: 6px;
        .tag {
            display: inline-block;
            margin-right: 6px;
            color: #fff;
            border-radius: 5px;
            padding: 1px 5px;
            background: #ffad21;
            font-size: 1rem;
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                text-decoration: none;
                background-color: #ffa100;
            }
        }
    }
}

/*Header 区域*/
#header {
    height: 60px;
    line-height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    background: #fff;
    z-index: 999;
    .box-shadow(0 0 3px, 60%);
    
    .no-logo {
        font-size: 2.8rem;
        float: left;
        color: @highlightColor;
        margin-left: 20px;
    }

    nav {
        float: right;
        margin-right: 10px;
        ul {
            li {
                float: left;
                list-style: none;
                font-size: 0;
                a {
                    font-size: 1.6rem;
                    display: block;
                    padding: 0 6px;
                }
            }
        }
    }
}
/*****Header 区域结束*******/

.page-content {
    padding: 0 10px;
    font-size: 1.4rem;
    position: relative;
    .wrapper {
        .post {
            h1,h2,h3,h4,h5,h6 {
                margin: 16px 0;
                font-weight: 800;
            }
            h1 {
                font-size: 2.0rem;
                margin-top: 25px;
                color: @highlightColor;
            }
            h2 {
                font-size: 1.6rem;
            }
            h3 {
            }
            h4 {
                font-size: 1.6rem;
            }
            .post-meta {
                color: #aaa;
            }
            ol {
                padding-left: 18px;
                margin-bottom: 20px;
            }
            li {
                margin-bottom: 6px;
            }
            ul li {
                list-style: square;
            }
            ul {
                margin-left: 18px;
            }
            blockquote {
                background-color: #f5f5f5;
                margin: 0 0 10px 0;
                padding: 8px 15px;
                border-left: 3px solid #ddd;
                padding-left: 12px;
                color: #666;
                font-size: 1.5rem;
                p {
                    margin: 0;
                }
            }
            .full-img img {
                width: 100%;
            }
        }
        .pagination, .pagination-idx {
            margin-top: 30px;
        }
        .pagination-idx {
        }
    }
    a {
        &:hover {
            color: @strongColor;
            -webkit-transition: color .5s;
            -moz-transition: color .5s;
            transition: color .5s;
            text-decoration: underline;
        }
    }
}
#footer {
    .foot-show {
        margin-top: 40px;
        margin-bottom: 20px;
        .display-box();
        .foot-links, .foot-contact {
            width: 50%;
            border-top: 1px solid #ddd;
            .box-flex();
        }
        .foot-links {
            padding-top: 30px;
            padding-left: 15px;
            img {
                margin-right: 15px;
                width: 50px;
            }
            .about-me {
                display: inline-block;
                p {
                    font-size: 1.2rem;
                    color: #666;
                    margin: 0;
                    margin-bottom: 6px;
                }
            }
        }
        .foot-contact {
            padding-left: 15px;
            padding-top: 15px;
            .contact-item {
                width: 100px;
                display: inline-block;
                text-align: center;
                .contact-item-title {
                    font-size: 1.2rem;
                    margin: 10px 0;
                    color: #888;
                    text-align: center;
                }
                .contact-item-img {
                    display: block;
                    img {
                        width: 50px;
                    }
                }
            }
            .display-box();
        }
    }
    p {
        color: @highlightColor;
        font-size: 1.6rem;
        margin: 20px 0;
    }
    .theme-author, .copyright {
        display: inline-block;
    }
    .foot-last {
        border-top: 1px solid #ddd;
        padding: 15px 0;
    }
    .friends {
        float: left;
    }
    .cr {
        float: right;
    }
}
#hide-logo {
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: 20rem;
    border-radius: 50%;
    border: 1px solid @highlightColor;
    margin: 20px auto;
    background-color: @highlightColor;
    color: #fff;
    .user-select();
    &.active {
        -webkit-animation: logo 5s infinite;
        -moz-animation: logo 5s infinite;
        -ms-animation: logo 5s infinite;
        -o-animation: logo 5s infinite;
    }
}
.totop {
    display: block;
    position: fixed;
    right: 10px;
    bottom: 30px;
    width: 40px;
    height: 40px;
    background: url(/img/arrow.png) no-repeat;
    z-index: 999;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    .user-select();
}
#share {
    height: 60px;
    line-height: 60px;
    border: 1px dashed #ddd;
    margin: 20px 0;
    &:hover {
        border-color: @highlightColor;
    }
    .bdsharebuttonbox {
        display: inline-block;
        vertical-align: middle;
    }
    .title {
        font-size: 1.6rem;
        font-weight: 600;
        margin-right: 6px;
        padding-left: 16px;
    }
    .icon {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-right: 8px;
        vertical-align: middle;
    }
    .icon-github {
        background: url(/img/icons/github_icon.png) no-repeat;
    }
    .icon-wb {
        background: url(/img/icons/wb_icon.png) no-repeat;
    }
}
@keyframes logo {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
@-webkit-keyframes logo {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
@-moz-keyframes logo {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
@-o-keyframes logo {
    0% {
        transform: rotateZ(0deg);
    }
    50% {
        transform: rotateZ(180deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

/***reset style***/
.full {
    .lineno {
        display: none;
    }
}

/***button style**/
#post-pagination {
    margin-top: 50px;
    .btn {
        float: left;
        display: inline-block;
        color: #fff;
        font-weight: 800;
        text-align: center;
        padding: 5px 8px;
        background: @highlightColor;
        border: 1px solid @highlightColor;
        border-radius: 3px;
        &:hover {
            background-color: @strongColor;
            text-decoration: none;
            color: #fff;
        }
        &.disabled {
            background: #fff;
            color: @highlightColor;
        }
        &:first-child {
            margin-right: 20px;
        }
    }
    .pages {
        float: left;
        display: inline-block;
        margin-right: 20px;
        font-size: 1.6rem;
        .page {
            list-style: none;
            display: inline-block;
            margin: 0 4px;
            a {
                font-family: "Microsoft YaHei";
                display: block;
                padding: 5px;
            }
        }
    }
}

/**media query**/
@media screen and (min-width: 1080px) {
    .full-width {
        width: 980px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 400px) {
    #post-pagination .pages {
        display: none;
    }
}

