<div id="footer">
    <div class="foot-show">
        <div class="foot-links clearfix">
            <img src="/img/icons/logo.png" alt="">
            <div class="about-me">
                <p>联系我</p>
                <p>地址：帝都</p>
                <p>Email: luofeihit2010@gmail.com</p>
            </div>
        </div>
        <div class="foot-contact">
            <div class="contact-item">
                <p class="contact-item-title">微信公众号</p>
                <a href="javascript:void(0)" class="contact-item-img">
                    <img src="/img/wx.png" alt="">
                </a>
            </div>
            <div class="contact-item">
                <p class="contact-item-title">Github</p>
                <a href="https://github.com/luofei2011" class="contact-item-img">
                    <img src="/img/icons/git.png" alt="">
                </a>
            </div>
            <div class="contact-item">
                <p class="contact-item-title">新浪微博</p>
                <a href="http://weibo.com/luofeihit2010" class="contact-item-img">
                    <img src="/img/icons/wb.png" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="clearfix foot-last">
        <div class="friends">
        </div>
        <div class="cr">
            <div class="copyright">&copy; <span class="year"></div>
            <div class="theme-author">本主题由
                <a href="/">「 Poised_flw 」</a>YY而成，服务器
                <a href="https://www.linode.com/?r=cbdf902c6a43e84fd6e2ebdac9b8db8fbf5b4f46" target="_blank">「 Linode 」</a>
                <a href="{{site.refer.vultr}}" target="_blank">「 Vultr 」</a>
                <a href="{{site.refer.digitalocean}}" target="_blank">「 DigitalOcean」</a>
            </div>
        </div>
    </div>
</div>
<a class="totop" href="javascript:;"></a>
<script>
// 还外链啥js
(function() {
    var yearDom = document.getElementById('footer').querySelector('.year');
    var totopDom = document.querySelector('.totop');
    var year = (new Date()).getFullYear();
    yearDom.innerHTML = year;

    // for scroll
    var body = document.body;
    var timer = null;

    window.addEventListener('scroll', function(e) {
        var scrollTop = body.scrollTop;
        this.clearTimeout(timer);

        if (scrollTop > 100) {
            totopDom.style.display = 'block';

            timer = setTimeout(function() {
                totopDom.style.display = 'none';
            }, 3000);
        } else {
            totopDom.style.display = 'none';
        }
    });

    totopDom.onmouseover = function() {
        window.clearTimeout(timer);
    }

    totopDom.onmouseleave = function() {
        timer = setTimeout(function() {
            totopDom.style.display = 'none';
        }, 3000);
    }

    totopDom.addEventListener('click', function() {
        window.scrollTo(0, 0);
    });

    // 修正title信息
    var postTitle = document.querySelector('header.post-header');
    try {
        document.title = postTitle.querySelector('.post-title').innerHTML + ' --来自 ' + document.title;
    } catch(e) {}
})();
</script>
<script>
var _hmt = _hmt || [];
(function() {
    var hm = document.createElement("script");
    hm.src = "//hm.baidu.com/hm.js?fe3b726964c038a7d1a7f2bf5d545edb";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
})();
</script>
<script>
//(function(d,e,j,h,f,c,b){d.GoogleAnalyticsObject=f;d[f]=d[f]||function(){(d[f].q=d[f].q||[]).push(arguments)},d[f].l=1*new Date();c=e.createElement(j),b=e.getElementsByTagName(j)[0];c.async=1;c.src=h;b.parentNode.insertBefore(c,b)})(window,document,"script","//www.google-analytics.com/analytics.js","ga");ga("create","UA-64291464-1","auto");ga("send","pageview");
</script>
