<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="响应式,前端开发">
    <meta name="description" content="热爱前端开发的全栈工程师">
    <meta name="author" content="luofei">
    <!--For mobile-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <!--Shit IE-->
    <meta http-equiv="X-UA-Compatibel" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="alternate" type="application/rss+xml" title="{{site.title}}" href="/feed.xml" />
    <link rel="stylesheet" href="/css/style_new.css">
    <link rel="stylesheet" href="/css/common.css">
    <title>Poised-flw的前端博客</title>
</head>
